doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css', integrity='sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==', crossorigin='anonymous', referrerpolicy='no-referrer')
  link(rel='preconnect', href='https://fonts.googleapis.com')
  link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dancing+Script&family=Geologica&family=Kaushan+Script&family=Lobster&family=Marck+Script&family=Merienda&family=Patrick+Hand&family=Patrick+Hand+SC&family=Playball&family=Roboto&family=Roboto+Condensed&display=swap', rel='stylesheet')
  link(rel='stylesheet', href='header.css')
  link(rel='stylesheet', href='about.css')
  title About Us
  body
    include ./header
    section.about 
        .about-top 
            .top-img
            .top-left
                .left-title About Us
                .left-content Chúng tôi xin giới thiệu đến quý vị và các bạn nhóm Youth Smile (Tên nhóm có nghĩa là "Nụ cười thanh xuân"), một nhóm sinh viên đại học đầy nhiệt huyết và đam mê trong dự án của môn học SSG104 tại trường Đại học FPT, campus Hồ Chí Minh. Tên nhóm Youth Smile thể hiện tinh thần trẻ trung và ý nghĩa của chúng tôi - mang lại nụ cười cho những người trẻ tuổi.
                .left-button
            .top-right
