doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css', integrity='sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==', crossorigin='anonymous', referrerpolicy='no-referrer')
  link(rel='preconnect', href='https://fonts.googleapis.com')
  link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dancing+Script&family=Geologica&family=Kaushan+Script&family=Lobster&family=Marck+Script&family=Merienda&family=Patrick+Hand&family=Patrick+Hand+SC&family=Playball&family=Roboto&family=Roboto+Condensed&display=swap', rel='stylesheet')
  link(rel='stylesheet', href='header.css')
  link(rel='stylesheet', href='about.css')
  title About Us
  body
    include ./header
    section.about 
        .about-top 
          .top-img
          .top-left
            .left-title About Us
            .left-content Chúng tôi xin giới thiệu đến quý vị và các bạn nhóm Youth Smile (Tên nhóm có nghĩa là "Nụ cười thanh xuân"), một nhóm sinh viên đại học đầy nhiệt huyết và đam mê trong dự án của môn học SSG104 tại trường Đại học FPT, campus Hồ Chí Minh. Tên nhóm Youth Smile thể hiện tinh thần trẻ trung và ý nghĩa của chúng tôi - mang lại nụ cười cho những người trẻ tuổi. Slogan của chúng tôi là "A young smile worth ten times the meds" (Một nụ cười trẻ tuổi có giá trị gấp mười lần thuốc men). Slogan này khẳng định niềm tin của chúng tôi rằng sự phát triển và hạnh phúc của trẻ em là vô cùng quan trọng và có thể thay đổi cuộc sống của họ. Chúng tôi tin rằng một nụ cười trẻ thơ có thể mang lại niềm vui và hy vọng mạnh mẽ, ngay cả khi đối diện với những khó khăn và nghịch cảnh.
            a.left-button(href="#") Contact
          .top-right
          .top-image
        .about-center 
          .center-img
          .center-left 
          .center-right
            .right-title Dự án gây quỹ 
            .right-content Nhóm Youth Smile gồm 5 thành viên trẻ trung và nhiệt huyết, chúng tôi đã tụ họp lại để thực hiện dự án quyên góp sách, tranh và đồ lưu niệm để gây quỹ ủng hộ trẻ em mồ côi. Với mong muốn lan tỏa yêu thương và sự chia sẻ, chúng tôi đã tìm hiểu, thu thập và đăng ký các món quà từ các nhà hảo tâm và nghệ sĩ tài năng để đem đến một cuộc sống tốt hơn cho trẻ em mồ côi. Đây là một dự án mang tính nhân văn và hướng tới tạo điều kiện tốt nhất cho trẻ em mồ côi, với mục tiêu đảm bảo quyền lợi cơ bản như giáo dục, chăm sóc y tế và vui chơi. Chúng tôi hy vọng thông qua dự án này, chúng tôi có thể gây quỹ và đóng góp tích cực vào sự phát triển và hạnh phúc của những trái tim trẻ thơ.



