include ./mixins

doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css', integrity='sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==', crossorigin='anonymous', referrerpolicy='no-referrer')
  link(rel='preconnect', href='https://fonts.googleapis.com')
  link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dancing+Script&family=Geologica&family=Kaushan+Script&family=Lobster&family=Marck+Script&family=Merienda&family=Patrick+Hand&family=Patrick+Hand+SC&family=Playball&family=Roboto&family=Roboto+Condensed&display=swap', rel='stylesheet')
  link(rel='stylesheet', href='header.css')
  link(rel='stylesheet', href='auction.css')
  title Auction
  body
    include ./header
    section.auction 
    .container
        h2.heading Những tựa sách đang được đấu giá
            .auction-list
                +auctionItem("./images/b-demen.jpg", "Saturday, July 1, 2023 at 12:31 AM","Dế Mèn phiêu lưu kí", "Giá khởi điểm: 35.000VND", "Bước giá: 5.000VND")
                +auctionItem("./images/b-ngk.jpg", "Saturday, July 1, 2023 at 1:05 PM","Nhà giả kim", "Giá khởi điểm: 18.000VND", "3.000VND")
                +auctionItem("./images/b-mlnm.jpg", "Tuesday, July 4, 2023 at 10:20 AM","Một Lít Nước Mắt", "Giá khởi điểm: 25.000VND", "4.000VND")
                +auctionItem("./images/b-demnguoc.jpg", "Saturday, July 8, 2023 at 11:26 AM","Đếm ngược", "Giá khởi điểm: 46.000VND", "7.000VND")