.top-img {
  width: 1510px;
  height: 900px;
  flex-shrink: 0;
  background: url("./images/c-BrightPhone.avif") no-repeat bottom right/ cover;
}
.top-title {
  color: #d6932f;
  font-size: 128px;
  font-weight: 600;
  line-height: normal;
  margin-top: -535px;
  margin-left: 460px;
}

.center-back {
  width: 1510px;
  height: 2467px;
  margin-top: 240px;
  background: #f0e5d5;
}
.center-answer {
  width: 1132px;
  height: 105px;
  flex-shrink: 0;
}
