:root {
  --black-color: #000;
}
.top-img {
  width: 1510px;
  height: 900px;
  flex-shrink: 0;
  background: url("./images/c-BrightPhone.avif") no-repeat bottom right/ cover;
}
.top-title {
  color: #d6932f;
  font-size: 128px;
  font-weight: 600;
  line-height: normal;
  margin-top: -535px;
  margin-left: 460px;
}

.center-back {
  width: 1510px;
  height: 2467px;
  margin-top: 240px;
  background: #f0e5d5;
}
.center-answer {
  width: 1132px;
  height: 90px;
  flex-shrink: 0;
  background: #c8baa5;
  margin-top: -2400px;
  margin-left: 185px;
  padding-top: 18px;
}
.center-title {
  color: #28110a;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 152px;
}
.center-info {
  display: flex;
  justify-content: center;
  margin-top: 58px;
}
.center-name {
  width: 540px;
  height: 143px;
  flex-shrink: 0;
  background: #fff;
  margin-right: 52px;
}
.subscribe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 100rem;
  border: 2px solid var(--gray5);
  padding: 8px;
}
.subscribe_email {
  font-size: 16px;
  line-height: 1.5;
  color: ;
  font-weight: 500;
  padding-inline: 18px;
  width: 100%;
}
.subscribe_email::-webkit-input-placeholder {
  color: var(--gray1); /*input-placeholder*/
}
.subscribe_email::-moz-input-placeholder {
  color: var(--gray1);
}
.center-phone {
  width: 540px;
  height: 143px;
  flex-shrink: 0;
  background: #fff;
}
.center-email {
  width: 1132px;
  height: 143px;
  flex-shrink: 0;
  background: #fff;
  margin-top: 54px;
  margin-left: 185px;
}
.center-mes {
  width: 1132px;
  height: 549px;
  flex-shrink: 0;
  background: #fff;
  margin-top: 62px;
  margin-left: 185px;
}
