.top-img {
  width: 1510px;
  height: 863px;
  flex-shrink: 0;
  background: url("./images/c-img.png");
  object-fit: cover;
}
.top-title {
  color: #f0e5d5;
  font-size: 128px;
  font-weight: 600;
  line-height: normal;
  margin-top: -535px;
  margin-left: 460px;
}

.center-back {
  width: 1510px;
  height: 2467px;
  background: #f0e5d5;
}
