.footer 
    .container.footer_container 
        .footer_top 
            .footer_columns
                .footer_column
                    a.footer_logo(href="/")
                        img(srcSet="./images/logo.png 2x" alt="Airtrav")
                    p.footer_desc Similarly, a loan taken out to buy a car may be secured by the car. The duration of the loan.
                    form.subscribe(action="" autocomplete)
                        input(type ="email" placeholder="Enter your email").subscribe_email 
                        button.subscribe_button(type="submit")
                            img(srcSet="./images/icon-arrow-right.png 2x", alt="icon-arrow-right")
                .footer_column
                    h4.footer_heading Services
                    ul.footer_links
                        each val in ["Trip Planner", "Tour Planning", "Tour Guide", "Tour Package", "Tour advice"]
                            li.footer_item
                                a.footer_link(href="#")= val
                .footer_column
                    h4.footer_heading Services
                    ul.footer_links
                        each val in ["Trip Planner", "Tour Planning", "Tour Guide", "Tour Package", "Tour advice"]
                            li.footer_item
                                a.footer_link(href="#")= val
                        .footer_column
                            h4.footer_heading Services
                            ul.footer_links
                                each val in ["Trip Planner", "Tour Planning", "Tour Guide", "Tour Package", "Tour advice"]
                                    li.footer_item
                                        a.footer_link(href="#")= val
        .footer_bottom
            p.footer_copyright Copyright© 2023 UIHUT LLC. All rights reserved
            .footer_sn_list
                each s in [1,2,3,4]
                    .footer_sn_item
                        a.footer_sn_link(href="#")
                            img(src="./images/facebook.png", alt="facebook")