mixin auctionItem(image, label, time, title, price. step)
    .auction-item
        .auction-image
            .popular_overlay
            img(src= image, alt="unsplash").popular_img
            span.auction-label Must See
        .auction-content
            span.auction-time Sep 28 10:00 AM - 1:00 PM
            h3.auction-title The Grand Palace
            .auction-price
                img(src="/images/star.png", alt="star")
                span 4.8 (12 reviews)
            .auction-step
                img(src="/images/star.png", alt="star")
                span 4.8 (12 reviews)