mixin auctionItem(image, label, time, title, )
    .auction-item
        .auction-image
            .auction-overlay
            img(src="https://images.unsplash.com/photo-1563492065599-3520f775eeed?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8YmFuZ2tva3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=1000&q=60", alt="unsplash").auction-img
            span.auction-label Must See
        .auction-content
            span.auction-time Sep 28 10:00 AM - 1:00 PM
            h3.auction-title The Grand Palace
            .auction-review
                img(src="/images/star.png", alt="star")
                span 4.8 (12 reviews)