doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css', integrity='sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==', crossorigin='anonymous', referrerpolicy='no-referrer')
  link(rel='preconnect', href='https://fonts.googleapis.com')
  link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dancing+Script&family=Geologica&family=Kaushan+Script&family=Lobster&family=Marck+Script&family=Merienda&family=Patrick+Hand&family=Patrick+Hand+SC&family=Playball&family=Roboto&family=Roboto+Condensed&display=swap', rel='stylesheet')
  link(rel='stylesheet', href='../header.css')
  link(rel='stylesheet', href='see.css')
  title Dế Mèn phiêu lưu kí
  body
    include ../header
    section.see
        .see-back 
            .see-left 
              img(srcSet="../images/b-demen.jpg", alt="picture").left-img
            .see-right
              .right-title Dế Mèn phiêu lưu kí
              .right-word
                .word-content Dế Mèn phiêu lưu kí" là một tác phẩm văn học dành cho thiếu nhi của tác giả Tô Hoài. Cuốn sách này đã được dịch ra 15 thứ tiếng và được coi là một trong những tác phẩm văn học Việt Nam dành cho trẻ em được dịch nhiều nhất. Câu chuyện kể về cuộc phiêu lưu của một chú Dế Mèn qua thế giới loài vật và loài người, giúp trẻ em học được những bài học quý giá như tình bạn và học hỏi từ lỗi lầm. Tác phẩm này đã trở thành một tài liệu quý giá cho học sinh cấp tiểu học, và thông điệp về tình bạn và lý tưởng của nó sẽ gợi cảm hứng và đồng cảm với các độc giả trẻ
 